  body {
    font-family: Georgia, serif;
    background-color: hsl(192, 16%, 44%);
  }
  nav {
    background-color: rgb(224, 103, 103)223, 110, 110);
    color: #fff;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .container {
    margin: 20px;
  }
  .page2 .container {
    display: flex;
    flex-wrap: wrap;
  }
  .page2 .container div {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .page2 .container img {
    width: 100%;
    height: auto;
  }