  body {
    font-family: Georgia, serif;
    background-color: hsl(192, 7%, 40%);
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .mart {
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    width: 200px;
    float: left;
  }
